@model IEnumerable<Exam>
@{
	ViewData["Title"] = "exams";
	Layout = "_LayoutStudent";
	SelectList deptList = new SelectList(Model, "exam_id", "crs.crs_name");
	int stdid = (int)ViewBag.stdid;
	List<Exam> li = ViewBag.pastexams as List<Exam>;
	SelectList deptListpast = new SelectList(li, "exam_id", "crs.crs_name");
	ViewData["stdid"] = stdid;

}

<style>
	.btn-theme {
		background-color: #a1272d;
		color: #fff;
	}
</style>


<form method="post" asp-action="show_exam" asp-route-stdid="@stdid" class="mb-5">
	@if (deptList.Count() > 0)
	{
		<h1 class="text-center mb-3 mt-3">Exams due today</h1>

		<select name="id" asp-items="deptList" class="form-select form-select-lg mb-3 mt-3" aria-label="Large select example">
		</select>
		<br />
		<input type="submit" value="enter exam" class="btn btn-theme btn-lg m-auto" />
	}
	else
	{
		<h1 class="text-center mb-3 mt-3">There are no exams due for today</h1>
	}

</form>
<div>
	<form method="post" asp-action="GenAsnwerReport" asp-controller="Report" asp-route-stdid="@stdid">
		@if (deptListpast.Count() > 0)
		{
			<h1 class="text-center mb-3 mt-3">Past Exams</h1>
			<select name="past_id" asp-items="deptListpast" class="form-select form-select-lg mb-3 mt-3" aria-label="Large select example">
			</select>
			<input type="submit" value="Exam Report with Model Answers" class="btn btn-lg btn-dark m-auto" />
		}
		else
		{
			<h1 class="text-center mb-3 mt-3">You didn't take any exam yet</h1>
		}
	</form>
</div>
