
<style>
    .btn-theme {
        background-color: #a1272d;
        color: #fff;
    }
</style>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Courses as List<Course>)
            {
                <tr>
                    <td>
                        @item.crs_id
                    </td>
                    <td>
                        @item.crs_name
                    </td>
                    <td>
                        <a onclick="getGrades(deptSelector.value,@item.crs_id)" class="btn btn-theme">Results</a>
                        <a asp-action="AddQuestion" asp-route-crsId="@item.crs_id" class="btn btn-dark">Add Question</a>
                        <a onclick="genExam(deptSelector.value,@item.crs_id)" class="btn btn-theme">Create Exam</a>
                        <a onclick="getExams(deptSelector.value,@item.crs_id)" class="btn btn-dark">Exams List</a>
                        <a asp-action="GenTopicsReport" asp-controller="Report" asp-route-crsId="@item.crs_id" class="btn btn-theme">Couse Topics</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>