@model Examination_System_Web_App.View_Models.ExamGenVM
 @* @{
     Layout = "_LayoutBS";
 } *@

<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateExam">
            <input type="hidden" name="crsId" value="@ViewBag.CourseID" />
            <input type="hidden" name="deptNo" value="@ViewBag.DeptNo" />
            <div class="form-group">
                <label asp-for="exam_name" class="control-label"></label>
                <input asp-for="exam_name" class="form-control" />
                <span asp-validation-for="exam_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mcqNo" class="control-label"></label>
                <input asp-for="mcqNo" class="form-control" />
                <span asp-validation-for="mcqNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tfNo" class="control-label"></label>
                <input asp-for="tfNo" class="form-control" />
                <span asp-validation-for="tfNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exam_date" class="control-label"></label>
                <input asp-for="exam_date" class="form-control" />
                <span asp-validation-for="exam_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exam_duration" class="control-label"></label>
                <input asp-for="exam_duration" class="form-control" />
                <span asp-validation-for="exam_duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
