<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Students as List<Student>)
            {
                <tr>
                    <td>
                        @item.std_id
                    </td>
                    <td>
                        @(item.std_fname + " " + item.std_lname)
                    </td>
                    <td>
                        @item.std_email
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-action="GenStdGrades" asp-controller="Report" asp-route-stdId="@item.std_id">Student Grades Report</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>