
@{
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}
<div class="container-fluid mt-4">
    <div class="header mb-4">
        <h3>Create Exam</h3>
    </div>
    <div class="form">
        <form>
            <div class="mb-3">
                <label class="form-label">Course Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Duration</label>
                <input type="number" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>