@{
    Layout = "~/Views/Shared/_LayoutBS.cshtml";

    SelectList deptList = new SelectList(ViewBag.Depts, "dept_no", "dept_name");
}

<div id="Mainsec">
<div class="mb-3 mt-4">
    <select id="deptSelector" class="form-control" asp-items="deptList" onchange="changeCourses(this.value)" name="deptNo"></select>
</div>
<h1 class="mb-3">List Of Courses</h1>
<a class="btn btn-dark mb-3" asp-action="GenCoursesReport" asp-controller="Report">All Courses Info</a>
<div class="mb-3" id="Ctable">
    <div>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Courses as List<Course>)
                {
                    <tr>
                        <td>
                            @item.crs_id
                        </td>
                        <td>
                            @item.crs_name
                        </td>
                        <td>
                            <a  onclick="getGrades(deptSelector.value,@item.crs_id)" class="btn btn-primary">Results</a>
                            <a asp-action="AddQuestion" asp-route-crsId="@item.crs_id" class="btn btn-dark">Add Question</a>
                            <a onclick="genExam(deptSelector.value,@item.crs_id)" class="btn btn-success">Create Exam</a>
                            <a asp-action="GenTopicsReport" asp-controller="Report" asp-route-crsId="@item.crs_id" class="btn btn-outline-dark">Couse Topics</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="Rtable">

</div>
</div>

@section Scripts{
    <script>
        function changeCourses(deptNo) {
            Ctable.innerHTML = "";
            $.ajax({
                url: "/Instructor/RenderCourses",
                data: { deptNo:deptNo },
                success: function (result) {
                    $("#Ctable").html(result);
                }
            });
        }

        function getGrades(deptNo,crsId) {
            $.ajax({
                url: "/Instructor/GetCourseGrades",
                data: { deptNo: deptNo  , crsId : crsId},
                success: function (result) {
                    $("#Rtable").html(result);
                }
            });
        }

        function genExam(deptNo, crsId) {
            $.ajax({
                url: "/Instructor/GenerateExam",
                data: { deptNo: deptNo, crsId: crsId },
                success: function (result) {
                    $("#Mainsec").html(result);
                }
            });
        }
    </script>
}