
@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
    SelectList deptList = new SelectList(ViewBag.Depts, "dept_no", "dept_name");
   

}
<div id="Mainsec">
    <div class="mb-3 mt-4">
        <select id="deptSelector" class="form-control" asp-items="deptList" onchange="changeStudents(this.value)" name="deptNo"></select>
    </div>
    <div class="row justify-content-between">
    <p class="mb-3 col-md-5">List Of Students</p>
        <a class="btn btn-dark col-md-3" onclick="genStudentPerDeptReport(deptSelector.value)">All Students Info Report</a>
    </div>
    <div class="mb-3" id="Ctable">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Students as List<Student>)
                    {
                        <tr>
                            <td>
                                @item.std_id
                            </td>
                            <td>
                                @(item.std_fname + " " + item.std_lname)
                            </td>
                            <td>
                                @item.std_email
                            </td>
                            <td>
                                <a class="btn btn-dark" asp-action="GenStdGrades" asp-controller="Report" asp-route-stdId="@item.std_id">Student Grades Report</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="Rtable">
    </div>
</div>

@section Scripts {
    <script>
        function changeStudents(deptNo) {
            Ctable.innerHTML = "";
            $.ajax({
                url: "/Instructor/RenderStudents",
                data: { deptNo: deptNo },
                success: function (result) {
                    $("#Ctable").html(result);
                }
            });
        }

        function genStudentPerDeptReport(deptNo) {
            console.log(deptNo)
            location.href = "/Report/GenStudentPerDeptReport?deptNo=" + deptNo;
        }


    </script>
}

